.form {
  border: 3px solid black;
  height: 320px;
  max-width: 500px;
  width: 80%;
  margin: 100px auto;
  padding: 30px 0;
  /* display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-evenly; */
  font-family: "Gothic A1", sans-serif;
}

.smallForm {
  height: 300px;
}

.largeForm {
  height: 420px;
}

.form h2 {
  font-family: "Gowun Dodum", sans-serif;
  margin: 0 auto 35px;
  text-align: center;
}

.smallForm .input {
  height: 120px;
}

.largeForm .input {
  height: 250px;
}

.actions {
  text-align: right;
}

.actions button {
  margin: 0 35px 10px 0;
}

.caution {
  text-align: center;
  font-family: "Gowun Dodum", sans-serif;
  color: red;
}
