.home {
  margin-top: 15vh;
  text-align: center;
}

.home h1 {
  font-size: 90px;
  font-family: "Gowun Dodum", sans-serif;
  margin-bottom: 20px;
  /* text-shadow: 4px 4px 5px #888; */
}

.caution {
  color: red;
  font-family: "Gowun Dodum", sans-serif;
}
