.form {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  border: none;
  padding: 1rem;
  background-color: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.control input {
  height: 50px;
  width: 450px;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border: 3px black solid;
  font-size: 1.25rem;
  font-family: "Gothic A1", sans-serif;
  font-weight: 200;
}

.control input:focus {
  outline: none;
}

.control button {
  text-align: center;
  height: 50px;
  width: 80px;
  border: 3px black solid;
  background-color: white;
  font-weight: bold;
  border-radius: 0.2rem;
  font-size: 18px;
  font-family: "Gowun Dodum", sans-serif;
  margin-top: 0px;
}

.control button:hover,
.control button:active {
  cursor: pointer;
  background-color: black;
  color: white;
}
